
@{
    ViewData["Title"] = "Index";
}

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
<h5>Kaynak Tekniği Sanayi ve Ticaret A.Ş. Gizlilik Politikası ve Çerez Uyarısı</h5>
<p>
    İşbu gizlilik politikası, Kaynak Tekniği Sanayi ve Ticaret A.Ş. (“Şirket”) tarafından işletilmekte olan www.askaynak.com.tr internet sitesinin (“Site”) işletilmesi sırasında Site kullanıcıları/ ziyaretçileri (“Veri Sahibi”) tarafından Şirket ile paylaşılan veya Şirketin, Veri Sahibinin Site’yi kullanımı sırasında ürettiği kişisel verilerin kullanımına ilişkin koşul ve şartları tespit etmektir.
</p>
<p>
    Veri Sahibi, işbu Gizlilik Politikası ile kişisel verilerinin işlenmesine ilişkin olarak aydınlatılmış olduğunu ve kişisel verilerinin burada belirtilen şekilde kullanımına muvafakat ettiğini beyan eder.
</p>

<h6>Hangi Veriler İşlenmektedir?</h6>

<p>
    İşbu başlık altında, Şirket tarafından işlenen ve 6698 sayılı Kişisel Verilerin Korunması Kanunu (“Kanun”) uyarınca kişisel veri, gerçek kişileri belirli veya belirlenebilir kılan her türlü veridir. Aksi açıkça belirtilmedikçe, işbu Gizlilik Politikası kapsamında arz edilen hüküm ve koşullar kapsamında “Kişisel Veri” ifadesi aşağıda yer alan bilgileri kapsayacaktır:
</p>
<ul>
    <li>
        İletişim Bilgisi
    </li>
    <li>
        Kullanıcı Bilgisi
    </li>
    <li>
        Kullanıcı İşlem Bilgisi
    </li>
    <li>
        İşlem Güvenliği Bilgisi
    </li>
    <li>
        Talep/Şikayet Yönetimi Bilgisi
    </li>
    <li>
        Olay Yönetimi Bilgisi
    </li>
    <li>
        Pazarlama Bilgisi
    </li>
</ul>
<p>
    Kanun’un 3. ve 7. maddeleri dairesince anonim hale getirilen veriler, anılan kanun hükümleri uyarınca Kişisel Veri olarak kabul edilmeyecek ve bu verilere ilişkin işleme faaliyetleri işbu gizlilik politikası hükümleri ile bağlı olmaksızın gerçekleştirilecektir.
</p>

<h6>Veriler Hangi Amaçlarla Kullanılmaktadır?</h6>

<p>
    Şirket, Veri Sahibi tarafından sağlanan Kişisel Verileri Şirket tarafından sunulan ürün ve hizmetlerin ilgili kişilerin beğeni, kullanım alışkanlıkları ve ihtiyaçlarına göre özelleştirilerek ilgili kişilere önerilmesi ve tanıtılması için gerekli olan aktivitelerin planlanması ve icrası amacıyla işleyebilecektir.
</p>

<p>
    Şirket, Kanun’un 5 ve 8. maddeleri uyarınca veya ilgili mevzuattaki istisnaların varlığı halinde Kişisel Verileri, Veri Sahibinin ayrıca rızasını almaksızın işleyebilecek ve üçüncü kişilerle paylaşabilecektir. Bu durumların başlıcaları şunlardır:
</p>

<ul>
    <li>
        Kanunlarda açıkça öngörülmesi,
    </li>
    <li>
        Fiili imkânsızlık nedeniyle rızasını açıklayamayacak durumda bulunan veya rızasına hukuki geçerlilik tanınmayan kişinin kendisinin ya da bir başkasının hayatı veya beden bütünlüğünün korunması için zorunlu olması,
    </li>
    <li>
        Veri Sahibi ile Şirket arasında herhangi bir sözleşmenin kurulması veya ifasıyla doğrudan doğruya ilgili olması kaydıyla, kişisel verilerin işlenmesinin gerekli olması,
    </li>
    <li>
        Şirketin hukuki yükümlülüklerini yerine getirebilmesi için zorunlu olması,
    </li>
    <li>
        Veri Sahibi’nin kendisi tarafından alenileştirilmiş olması,
    </li>
    <li>
        Bir hakkın tesisi, kullanılması veya korunması için veri işlemenin zorunlu olması,
    </li>
    <li>
        Veri Sahibi’nin temel hak ve özgürlüklerine zarar vermemek kaydıyla, Şirket’in meşru menfaatleri için veri işlenmesinin zorunlu olması.
    </li>
</ul>

<h6>Verilere Kimler Erişebilmektedir?</h6>

<p>
    Şirket, Veri Sahibine ait Kişisel Verileri ve bu Kişisel Verileri kullanılarak elde ettiği yeni verileri, işbu Gizlilik Politikası ile belirlenen amaçların gerçekleştirilebilmesi için Şirketin hizmetlerinden faydalandığı üçüncü kişilere, söz konusu hizmetlerin temini amacıyla sınırlı olmak üzere aktarılabilecektir. Şirket ayrıca, işbu gizlilik politikasında belirtilen amaçlar dahilinde verileri, Şirketin iş ortakları, tedarikçileri ve hukuken yetkili kurum ve kuruluşlara aktarabilecektir.
</p>

<p>
    Şirket, Veri Sahibi deneyiminin geliştirilmesi (iyileştirme ve kişiselleştirme dâhil), Veri Sahibinin güvenliğini sağlamak, hileli ya da izinsiz kullanımları tespit etmek, operasyonel değerlendirme araştırılması, Site hizmetlerine ilişkin hataların giderilmesi ve işbu gizlilik politikasında yer alan amaçlardan herhangi birisini gerçekleştirebilmek için SMS gönderimi yapanlar da dahil olmak üzere dış kaynak hizmet sağlayıcıları, barındırma hizmet sağlayıcıları (hosting servisleri), hukuk büroları, araştırma şirketleri, çağrı merkezleri gibi üçüncü kişiler ile paylaşabilecektir.
</p>
    
<p>
    Veri Sahibi, yukarıda belirtilen amaçlarla sınırlı olmak kaydı ile bahsi geçen üçüncü tarafların Veri Sahibinin Kişisel Verilerini dünyanın her yerindeki sunucularında saklayabileceğini, bu hususa peşinen muvafakat ettiğini kabul eder.
</p>
    
<h6>
    Verilere Erişim Hakkı ve Düzeltme Talepleri Hakkında
</h6>
   
<ul>
    <li>
        Kanun’un 11. maddesi uyarınca veri sahipleri,
    </li>
    <li>
        Kişisel veri işlenip işlenmediğini öğrenme,
    </li>
    <li>
        Kişisel verileri işlenmişse buna ilişkin bilgi talep etme,
    </li>
    <li>
        Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,
    </li>
    <li>
        Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme,
    </li>
    <li>
        Kişisel verilerin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,
    </li>
    <li>
        Kanun ve ilgili diğer kanun hükümlerine uygun olarak işlenmiş olmasına rağmen, işlenmesini gerektiren sebeplerin ortadan kalkması hâlinde kişisel verilerin silinmesini veya yok edilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,
    </li>
    <li>
        İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya çıkmasına itiraz etme,
    </li>
    <li>
        Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması hâlinde zararın giderilmesini talep etme haklarına sahiptir.
    </li>
</ul>

<p>
    Söz konusu haklar, kişisel veri sahipleri tarafından www.askaynak.com.tr adresine yazılı olarak veya Kişisel Verileri Koruma Kurulu tarafından belirlenen yöntemlerle iletilmesi halinde olabildiğince kısa sürede ve her halükârda 30 (otuz) gün içerisinde değerlendirilerek sonuçlandırılacaktır. Taleplere ilişkin olarak herhangi bir ücret talep edilmemesi esas olmakla birlikte, Şirketin Kişisel Verileri Koruma Kurulu tarafından belirlenen ücret tarifesi üzerinden ücret talep etme hakkı saklıdır.
</p>
    
<p>
    Veri Sahibi, işbu gizlilik politikasına konu bilgilerinin tam, doğru ve güncel olduğunu, bu bilgilerde herhangi bir değişiklik olması halinde bunları derhal güncelleyeceğini taahhüt eder. Veri Sahibinin güncel bilgileri sağlamamış olması halinde Şirketin herhangi bir sorumluluğu olmayacaktır.
</p>
    
<p>
    Veri Sahibi, herhangi bir Kişisel Verisinin Şirket tarafından kullanılamaması ile sonuçlanacak bir talepte bulunması halinde Site’nin işleyişinden tam olarak faydalanamayabileceğini kabul ile bu kapsamda doğacak her türlü sorumluluğun kendisine ait olacağını beyan eder.
</p>
    
<h6>
    Kişisel Verilerin Saklanma Süresi
</h6>
    
<p>
    Şirket, Veri Sahibi tarafından sağlanan Kişisel Verileri, yukarıda belirtilen işleme amaçlarının gerektirdiği süre boyunca saklayacaktır.
</p>

<p>
    Buna ek olarak, Şirket, Veri Sahibi ile arasında doğabilecek herhangi bir uyuşmazlık durumunda, uyuşmazlık kapsamında gerekli savunmaların gerçekleştirilebilmesi amacıyla sınırlı olmak üzere ve ilgili mevzuat uyarınca belirlenen zamanaşımı süreleri boyunca Kişisel Verileri saklayabilecektir.
</p>

<h6>
    Veri Güvenliğine İlişkin Önlemler ve Taahhütler
</h6>

<p>
    Şirket, ilgili mevzuatta belirlenen veya işbu Gizlilik Politikası’nda ifade edilen şartlarda;
</p>

<ul>
    <li>
        Kişisel Verilerin hukuka aykırı olarak işlenmemesini,
    </li>
    <li>
        Kişisel Verilere hukuka aykırı olarak erişilmemesini ve
    </li>
    <li>
        Kişisel Verilerin muhafazasını sağlamak amacıyla uygun güvenlik düzeyini temin etmeye yönelik gerekli teknik ve idari tedbirleri almayı, gerekli denetimleri yaptırmayı taahhüt eder.
    </li>
</ul>


<p>
    Şirket, Veri Sahibi hakkında elde ettiği kişisel verileri işbu gizlilik politikası ve Kanun hükümlerine aykırı olarak başkasına açıklayamaz ve işleme amacı dışında kullanamaz.
</p>

<p>
    Site üzerinden başka uygulamalara link verilmesi halinde, Şirket uygulamaların gizlilik politikaları ve içeriklerine yönelik herhangi bir sorumluluk taşımamaktadır.
</p>

<h4>
    Çerez (“Cookie”) Kullanımı
</h4>

<p>
    Veri Sahiplerinin Site’den en verimli şekilde faydalanabilmesi ve kullanıcı deneyiminin geliştirilmesi için Site’de kullanılmaktadır. Çerez kullanılmasını tercih etmezseniz tarayıcınızın ayarlarından çerezleri silebilir ya da engelleyebilirsiniz. Ancak Site kullanımınızı etkileyebileceğini hatırlatmak isteriz. Tarayıcınızdan Cookie ayarlarınızı değiştirmediğiniz sürece bu Site’de çerez kullanımını kabul ettiğinizi varsayacağız.
</p>
    
<h6>
    Çerez Nedir ve Neden Kullanılmaktadır?
</h6>
    
<p>
    Çerez, ziyaret ettiğiniz internet siteleri tarafından tarayıcılar aracılığıyla cihazınıza veya ağ sunucusuna depolanan küçük metin dosyalarıdır. Çerezler konusundan daha detaylı bilgi için 
    <a href="https://www.aboutcookies.org">www.aboutcookies.org</a> 
    ve 
    <a href="https://www.allaboutcookies.org">www.allaboutcookies.org</a> 
    adreslerini ziyaret edebilirisiniz.
</p>
   
<p>
    İnternet Sitemizde çerez kullanılmasının başlıca amaçları aşağıda sıralanmaktadır:
</p>
    
<ul>
    <li>
        İnternet sitesinin işlevselliğini ve performansını arttırmak yoluyla sizlere sunulan hizmetleri geliştirmek,
    </li>
    <li>
        İnternet Sitesini iyileştirmek ve İnternet Sitesi üzerinden yeni özellikler sunmak ve sunulan özellikleri sizlerin tercihlerine göre kişiselleştirmek,
    </li>
    <li>
        İnternet Sitesinin, sizin ve Şirketimizin hukuki ve ticari güvenliğinin teminini sağlamak.
    </li>
</ul>

<h6>
    İnternet Sitemizde Kullanılan Çerezlerin Süreleri:
</h6>

<table>
    <tr>
        <th>
            Oturum Çerezleri
            (Session Cookies)
        </th>
        <th>
            Oturum çerezleri ziyaretçilerimizin İnternet Sitesini ziyaretleri süresince kullanılan, tarayıcı kapatıldıktan sonra silinen geçici çerezlerdir.

            Bu tür çerezlerin kullanılmasının temel amacı ziyaretiniz süresince İnternet Sitesinin düzgün bir biçimde çalışmasının teminini sağlamaktır.

            Örneğin; birden fazla sayfadan oluşan çevrimiçi formları doldurmanızın sağlanmaktadır.
        </th>
    </tr>
    <tr>
        <th>
            Kalıcı Çerezler

            (Persistent Cookies)
        </th>
        <th>
            Kalıcı çerezler İnternet Sitesinin işlevselliğini artırmak, ziyaretçilerimize daha hızlı ve iyi bir hizmet sunmak amacıyla kullanılan çerez türleridir.

            Bu tür çerezler tercihlerinizi hatırlamak için kullanılır ve tarayıcılar vasıtasıyla cihazınızda depolanır.

            Kalıcı çerezlerin bazı türleri; İnternet Sitesini kullanım amacınız gibi hususlar göz önünde bulundurarak sizlere özel öneriler sunulması için kullanılabilmektedir.

            Kalıcı çerezler sayesinde İnternet Sitemizi aynı cihazla tekrardan ziyaret etmeniz durumunda, cihazınızda İnternet Sitemiz tarafından oluşturulmuş bir çerez olup olmadığı kontrol edilir ve var ise, sizin siteyi daha önce ziyaret ettiğiniz anlaşılır ve size iletilecek içerik bu doğrultuda belirlenir ve böylelikle sizlere daha iyi bir hizmet sunulur.
        </th>
    </tr>
</table>
    
<br />
<h6>
    Site’de Kullanılan Çerezlerin Kategorileri
</h6>
    
<table>
    <tr>
        <th>
            Teknik Çerezler

            (Technical Cookies)
        </th>
        <th>
            Teknik çerezler ile Site’nin çalışması sağlanmakta, internet sitesinin çalışmayan sayfaları ve alanları tespit edilmektedir.
        </th>
    </tr>
    <tr>
        <th>
            Otantikasyon Çerezleri

            (Authentication Cookies)
        </th>
        <th>
            Ziyaretçiler, şifrelerini kullanarak Site’ye giriş yapmaları durumunda, bu tür çerezler ile, ziyaretçinin Site’de ziyaret ettiği her bir sayfada site kullanıcısı olduğu belirlenerek, kullanıcının her sayfada şifresini yeniden girmesi önlenir.
        </th>
    </tr>
    <tr>
        <th>
            Flash Çerezleri

            (Flash Cookies)
        </th>
        <th>
            Site’de yer alan görüntü veya ses içeriklerini etkinleştirmek için kullanılan çerez türleridir.
        </th>
    </tr>
    <tr>
        <th>
            Kişiselleştirme Çerezleri

            (Customization Cookies)
        </th>
        <th>
            Kullanıcıların tercihlerini farklı internet sitesinin farklı sayfalarını ziyarette de hatırlamak için kullanılan çerezlerdir. Örneğin, seçmiş olduğunuz dil tercihinizin hatırlanması.
        </th>
    </tr>
    <tr>
        <th>
            Analitik Çerezler

            (Analytical Cookies)
        </th>
        <th>
            Analitik çerezler ile Site’yi ziyaret edenlerin sayıları, Site’de görüntülenen sayfaların tespiti, Site ziyaret saatleri, internet sitesi sayfaları kaydırma hareketleri gibi analitik sonuçların üretimini sağlayan çerezlerdir.
        </th>
    </tr>
</table>
<br />
<h6>Site’de Kullanılan Çerezler</h6>

<table>
    <tr>
        <th>
            Çerez
        </th>
        <th>
            İsim
        </th>
        <th>
            Açıklama, Süre ve Tercihler
        </th>
    </tr>
    <tr>
        <th colspan="3">
            Analitik Çerezler
        </th>
    </tr>
    <tr>
        <th>
            Reklam
        </th>
        <th>
            [?]
        </th>
        <th>
            Davranışsal ve hedef odaklı reklamların ziyaretçilere gösterilmesi amacıyla kullanılmaktadır.

            Tarayıcı ayarları aracığıyla kabul etmek ya da reddetmek mümkünüdür.
        </th>
    </tr>
    <tr>
        <th>
            Pazar Analizi
        </th>
        <th>
            [?]
        </th>
        <th>
            Pazar analizi yürütülmesi amacıyla kullanılmaktadır.

            Tarayıcı ayarları aracığıyla kabul etmek ya da reddetmek mümkünüdür.
        </th>
    </tr>
    <tr>
        <th>
            Kampanya/

            promosyon
        </th>
        <th>
            [?]
        </th>
        <th>
            Kampanyaların etkisinin hesaplanması için kullanılmaktadır.

            Tarayıcı ayarları aracığıyla kabul etmek ya da reddetmek mümkünüdür.
        </th>
    </tr>
    <tr>
        <th>
            Facebook
        </th>
        <th>
            [?]
        </th>
        <th>
            Bu tür çerezler, Facebook üyelerinin (veya üye olmayan kişilerin) pazar analizi ve ürün gelişimi amacıyla izlenmesini sağlar.

            Tarayıcı ayarları aracığıyla kabul etmek ya da reddetmek mümkünüdür..
        </th>
    </tr>
    <tr>
        <th>
            Twitter
        </th>
        <th>
            [?]
        </th>
        <th>
            Bu tür çerezler, sosyal medya ağlarına üye olan veya olmayan kişilerin, pazar analizi ve ürün gelişimi amacıyla izlenmesi için kullanılır.

            Tarayıcı ayarları aracığıyla kabul etmek ya da reddetmek mümkünüdür.
        </th>
    </tr>
    <tr>
        <th>
            Konum
        </th>
        <th>
            [?]
        </th>
        <th>
            Kullanıcının IP adresi sayesinde yaklaşık adresinin (şehir, ilçe, posta kodu) belirlenmesini ve kullanıcının bu şekilde otomatik olarak kendi ülkesini seçmesini ve o bölgedeki perakendeciler ile tanıtım günlerinin gösterilmesini sağlar.

            Tarayıcı ayarları aracığıyla kabul etmek ya da reddetmek mümkünüdür.
        </th>
    </tr>
    <tr>
        <th>
            Google

            analitikleri
        </th>
        <th>
            [?]
        </th>
        <th>
            Bu tür çerezler tüm istatistiksel verilerin toplanmasını bu şekilde Sitenin sunumunun ve kullanımının geliştirilmesini sağlar. Google, bu istatistiklere toplumsal istatistikler ve ilgilere ilişkin veriler eklemek suretiyle, kullanıcıları daha iyi anlamamızı sağlar.

            Sitemiz, Google Analitik çerezleri kullanmaktadır. Söz konusu çerezler ile toplanan veriler, ABD’de bulunan Google sunucularına aktarılmakta ve söz konusu veriler Google’ın veri koruma ilkeleri ile uyumlu olarak muhafaza edilmektedir. Google’ın analitik veri işleme faaliyetleri ve kişisel verilerin korunması konusundaki ilkeler hakkında daha fazla bilgi sahibi olmak için buraya tıklayabilirsiniz.

            Çerezlerin Kontrolü

            <a href="https://tools.qooqle.com/dlpaqe/qaoptout">https://tools.qooqle.com/dlpaqe/qaoptout</a>
        </th>
    </tr>
    <tr>
        <th>
            Adobe Omniture
        </th>
        <th>
            [?]
        </th>
        <th>
            Bu tür çerezler tüm istatistiksel verilerin toplanmasını bu şekilde Sitenin sunumunun ve kullanımının geliştirilmesini sağlar.

            Tarayıcı ayarları aracığıyla kabul etmek ya da reddetmek mümkünüdür.
        </th>
    </tr>
    <tr>
        <th>
            Kaynak site
        </th>
        <th>
            [?]
        </th>
        <th>
            Kaynak site kullanıcıların tercihlerini daha iyi anlamak için kullanılır.

            Tarayıcı ayarları aracığıyla kabul etmek ya da reddetmek mümkünüdür.
        </th>
    </tr>
    <tr>
        <th>
            Son ziyaret ve hareket
        </th>
        <th>
            [?]
        </th>
        <th>
            Kullanıcılara sitemizi son ziyaretlerinden itibaren neler değiştiğine ilişkin güncellemelerde bulunmak ve kullanıcıların tercihlerini daha iyi anlamak için kullanılır.

            Tarayıcı ayarları aracığıyla kabul etmek ya da reddetmek mümkünüdür.
        </th>
    </tr>
    <tr>
        <th>
            Son zamanlarda izlenen videolar
        </th>
        <th>
            [?]
        </th>
        <th>
            Son zamanlarda izlenen videoların izlenme tarihleri ve başlıkları, kullanıcının tercihlerinin daha iyi anlaşılabilmesi için kaydedilir.

            Tarayıcı ayarları aracığıyla kabul etmek ya da reddetmek mümkünüdür.
        </th>
    </tr>
    <tr>
        <th>
            Sayfa Geçmişi
        </th>
        <th>
            [?]
        </th>
        <th>
            Sayfa geçmişi çerezleri, kullanıcıların hangi sırayla hangi siteleri ziyaret ettiğini takip etmek için kullanılır. Eğer kullanıcı Siteyi ziyaret ettiğinde bir hatayla karşılaşırsa, çerez bilgisi hatanın raporlanması ve çözümü için log dosyasına kaydolur.

            Tarayıcı ayarları aracığıyla kabul etmek ya da reddetmek mümkünüdür.
        </th>
    </tr>
    <tr>
        <th colspan="3">
            Teknik Çerezler
        </th>
    </tr>
    <tr>
        <th>
            Oturum
        </th>
        <th>
            [?]
        </th>
        <th>
            Oturum çerezleri oturumun sürekliliğinin sağlanması amacıyla kullanılır.

            Tarayıcı ayarları aracığıyla kabul etmek ya da reddetmek mümkünüdür.
        </th>
    </tr>
    <tr>
        <th>
            Yük Dengeleme
        </th>
        <th>
            [?]
        </th>
        <th>
            Yük dengeleme çerezleri, yükü dağıtarak sunucu yükünü azaltmak için kullanılır.

            Tarayıcı ayarları aracığıyla kabul etmek ya da reddetmek mümkünüdür.
        </th>
    </tr>
    <tr>
        <th>
            Güvenlik
        </th>
        <th>
            [?]
        </th>
        <th>
            Güvenlik çerezler, güvenlik kontrolleri için kullanılır.

            Tarayıcı ayarları aracığıyla kabul etmek ya da reddetmek mümkünüdür.
        </th>
    </tr>
    <tr>
        <th>
            Dolandırıcılık

            Tespiti
        </th>
        <th>
            [?]
        </th>
        <th>
            Tıklama hilelerinin tespit edilmesi için kullanılmaktadır.

            Tarayıcı ayarları aracığıyla kabul etmek ya da reddetmek mümkünüdür.
        </th>
    </tr>
    <tr>
        <th colspan="3">
            Otantikasyon Çerezleri
        </th>
    </tr>
    <tr>
        <th>
            Kullanıcı Kimliği
        </th>
        <th>
            [?]
        </th>
        <th>
            Kullanıcı kimliği çerezler, kullanıcıların yalnızca kendi bilgilerini görmeleri için kullanılır.

            Tarayıcı ayarları aracığıyla kabul etmek ya da reddetmek mümkünüdür.
        </th>
    </tr>
    <tr>
        <th colspan="3">
            Kişiselleştirme Çerezleri
        </th>
    </tr>
    <tr>
        <th>
            Dil
        </th>
        <th>
            [?]
        </th>
        <th>
            Kullanıcının seçtiği dili kaydeder ve buna uygun seçenekler sunar.

            Tarayıcı ayarları aracığıyla kabul etmek ya da reddetmek mümkünüdür.
        </th>
    </tr>
    <tr>
        <th>
            Mobil
        </th>
        <th>
            [?]
        </th>
        <th>
            Eğer kullanıcı Siteyi mobil bir cihazdan ziyaret ediyorsa, ana web sitesini göstermek için kullanılır. (Örneğin, cihazın Flash'ı etkinleştiridiği), ya da Flash'a ihtiyaç duymayan bir mobil sitede olduğunu. Kaynak site kullanıcının tercihlerinin daha iyi anlaşılabilmesi için kaydedilir.

            Tarayıcı ayarları aracığıyla kabul etmek ya da reddetmek mümkünüdür.
        </th>
    </tr>
    <tr>
        <th colspan="3">
            Flash Çerezleri
        </th>
    </tr>
    <tr>
        <th>
            Flash çerezleri
        </th>
        <th>
            [?]
        </th>
        <th>
            Oynatılacak ses ve video içeriklerini etkinleştirir.

            Tarayıcı ayarları aracığıyla kabul etmek ya da reddetmek mümkünüdür.
        </th>
    </tr>
</table>
<br />
<h6>
    Çerezlerin Kullanımı Veri Sahipleri Tarafından Engellenebilir mi?
</h6>

<p>
    Tarayıcınızın ayarlarını değiştirerek çerezlere ilişkin tercihlerinizi kişiselleştirme imkanına sahipsiniz.
</p>

<table>
    <tr>
        <th>
            Adobe Analytics
        </th>
        <th>
            http://www.adobe.com/uk/privacy/opt-out.html
        </th>
    </tr>
    <tr>
        <th>
            AOL
        </th>
        <th>
            https://help.aol.com/articles/restore-security-settings-and-enable-cookie-settings-on-browser
        </th>
    </tr>
    <tr>
        <th>
            Google Adwords

        </th>
        <th>
            https://support.google.com/ads/answer/2662922?hl=en
        </th>
    </tr>
    <tr>
        <th>
            Google Analytics

        </th>
        <th>
            https://tools.google.com/dlpage/gaoptout
        </th>
    </tr>
    <tr>
        <th>
            Google Chrome

        </th>
        <th>
            http://www.google.com/support/chrome/bin/answer.py?hl=en&answer=95647
        </th>
    </tr>
    <tr>
        <th>
            Internet Explorer

        </th>
        <th>
            https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies
        </th>
    </tr>
    <tr>
        <th>
            MozillaFirefox

        </th>
        <th>
            http://support.mozilla.com/en-US/kb/Cookies
        </th>
    </tr>
    <tr>
        <th>
            Opera

        </th>
        <th>
            http://www.opera.com/browser/tutorials/security/privacy/
        </th>
    </tr>
    <tr>
        <th>
            Safari:

        </th>
        <th>
            https://support.apple.com/kb/ph19214?locale=tr_TR
        </th>
    </tr>
</table>
<br />
<h6>
    Gizlilik Politikasındaki Değişiklikler

</h6>

<p>
    Şirket, işbu gizlilik politikası hükümlerini dilediği zaman değiştirebilir. Güncel gizlilik politikası, Veri Sahibine herhangi bir yöntemle sunulduğu tarihte yürürlük kazanır.
</p>