
@{
    ViewData["Title"] = "Reklam Vermek İstiyorum";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Description"] = "Sizde dovizmix.com da reklam vererek markanızı veya ürününüzü tüm Türkiye ye en iyi şekilde tanıtabilirsiniz";
    ViewData["Keywords"] = "reklam, haklari, destek, banner, dovizmix, support";
}

<div style="padding:15px">
    <h1>Reklam</h1>
    <p>
        Dovizmix.com 30’dan fazla bölgede faaliyet gösteren ve 100’den fazla borsadan analiz, haber, finansal araç, grafik ve anlık veri sağlayan finans piyasaları platformudur. 20 milyon aylık kullanıcı ve 170 milyon oturum ile Investing.com SimilarWeb ve Alexa’ya göre en büyük üç finans sitesinden biridir.
        <br><br>
        300 binden fazla aracı bünyesinde barındıran , kullanıcılarına tamamen ücretsiz şekilde finans piyasaları ile ilgili araçlara, portföye, takvime, hesap makinelerine, finansal görüşlere ulaşmasını sağlamaktadır.
        <br><br>
        Küresel hisse senedi piyasalarına ek olarak Dovizmix.com Emtia, Kripto Paralar, Dünya Endeksleri, Dünya Dövizleri, Tahviller, Fon ve Faiz Oranları, ETF’ler ve Opsiyonlarla ilgili veri sunmaktadır.
        <br><br>
        Dovizmix.com, iOS ve Android için geliştirilmiş olan mobil uygulaması ile birlikte yatırımcılar için tek durak noktası olma hedefindedir. Uygulama, beş yıldır Google Play’de en yüksek puana sahip finans piyasaları uygulaması olmayı başarmıştır.
        <br><br>
        Yıllar içinde Investing.com güvenilir bir yayın kuruluşu olarak yüzlerce kuruluşun reklamını yerel ve küresel çapta yaparak birçok noktada tanıtılmasını sağlamıştır.
        <br><br>
        2019 yılında kurulan Dovizmix.com’un 300’den fazla çalışanı vardır. Şirketin Tel Aviv, Madrid, Tokyo ve Shenzen’de ofisi bulunmaktadır.
    </p>
</div>