
@{
    ViewData["Title"] = "Cerez Politikasi";
    ViewData["Description"] = "Sitemizde sizlere daha iyi hizmet verebilmemiz için çerez politikasını izlemekteyiz";
    ViewData["Keywords"] = "cookie, çerez, politikası, daha, iyi, hizmet, destek, dovizmix, policy, support";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding:15px">

    <h1>Çerez Politikası</h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;Dovizmix.com İnternet Hizmetleri Sanayi ve Ticaret Anonim Şirketi’ne ait Dovizmix.com internet sitesini kullandığınızda ya da ziyaret ettiğinizde, bilgisayarınıza veya cihazınıza çerezler yerleştirebilir ve bu çerezlerde saklanan bilgileri alabiliriz. Çerezler, internet tarayıcılarında bilgi depolamak için kullanılan küçük metin parçalarıdır. Çerezler bilgisayarlarda, telefonlarda ve diğer cihazlarda tanımlayıcıları ve diğer bilgileri toplamak ve tutmak için kullanılır. İnternet tarayıcınızda veya cihazınızda tuttuğumuz veriler, cihazınızla ilişkili tanımlayıcılar ve diğer yazılımlar gibi başka teknolojiler de benzer amaçlarla kullanılır. Bu ilkede, bu teknolojilerin tümü "çerez" olarak anılacaktır.
    </p>
    <p>
        Çerezler; içerikleri kişiselleştirme, reklamları özelleştirme, reklam sonuçlarını ölçme, daha güvenli bir deneyim sağlama gibi yollarla hizmetlerimizi sunmamıza, korumamıza ve geliştirmemize yardımcı olur.
    </p>
    <p>
        Çerezleri;
    </p>
    <p>
    </p><ul>
        <li>Hesabınızı doğrulamak ve hesabınıza giriş yaptığınızı belirlemek,</li>
        <li>Verilerinizi ve hizmetlerimizi güvende ve emniyette tutmak,</li>
        <li>İşletmelerin ve diğer kuruluşların sağladıkları ürünlerle, hizmetlerle ya da ilişkili oldukları amaçlarla ilgilenebilecek kişilere, bu işletme ve kuruluşların reklamlarını göstermek ve Dovizmix.com internet sitesinde reklamları yer alan işletmelerin reklam kampanyalarının performansını ölçmek,</li>
        <li>Hizmet kalitemizi arttırmak,</li>
        <li>Kullanıcılarımızın hizmetlerimizi nasıl kullandığını daha iyi anlayıp bu hizmetleri geliştirmek,</li>
    </ul>
    <p></p>
    <p>
        amaçlarıyla kullanırız.
    </p>
    <p>
        Üçüncü kişiler de, kendi sitelerinde ve uygulamalarında Dovizmix.com internet sitesiyle bağlantılı olarak çerezler kullanır. Diğer tarafların çerezleri nasıl kullandığını anlamak için, lütfen bu tarafların kendi ilkelerini inceleyiniz.
    </p>
    <h3 class="no-padding">Çerez Türleri</h3>
    <p>
    </p><ul>
        <li>
            Geçici çerezler: Geçici çerezler, sadece oturum sırasında geçici olarak depolanır ve en kısa sürede tarayıcınızı kapattıktan sonra kaldırılır.
        </li>
        <li>
            Kalıcı çerezler: Kalıcı çerezler tarayıcı veya uygulamayı kapattıktan sonra bilgisayar/ mobil cihazda kalır ve web sitesie döndüğümüzde sizi tanımak için kullanılır. Kalıcı çerezlerin süreleri dolana kadar yeni bir çerez yüklenir, bilgisayarınızda veya mobil cihazınızda kalır.
        </li>
        <li>
            Hedef/Reklam Çerezleri: Reklam çerezleri, bir uygulama/web sitesine veya kullanım ziyareti sırasında üçüncü bir şahıs tarafından yüklenen çerezlerdir. Reklam çerezleri, üçüncü bir şahsa sitemize ziyaretinizle ilgili bazı bilgileri iletmek için kullanılır.
        </li>
        <li>
            Zorunlu Çerezler: Gerekli ve önemli çerezdir. Kullanıcı hesabı oluşturmanıza, giriş yapmanıza ve web sitemizde gezinti yapmanıza olanak sağlar. Kalıcı çerezler tarayıcı veya uygulamayı kapattıktan sonra bilgisayarınızda veya mobil cihazınızda kalır ve web sitemize döndüğünüzde sizi tanımak için kullanılır. Zorunlu çerezler anonim niteliktedirler.
        </li>
        <li>
            Performans ve analiz çerezleri: Ziyaretçilerin web siteleri ve uygulamalardaki genel çalışmasını geliştirmek için web siteleri ve uygulamaları (onlar tarafından izlenen sayfalar, ziyaretin ortalama süresi, vs.) nasıl kullandığınız hakkında bilgi toplamak için kullanılır.
        </li>
        <li>
            İşlevsellik çerezleri: İşlevsellik çerezleri, web sitesinde ziyareti kolaylaştırmak ve tarama deneyiminizi geliştirmek için kullanılan çerezlerdir. Tercih ettiğiniz dil, düzen veya renk şeması gibi belirli ayarları, hatırlamak için izin verir.
        </li>
        <li>
            Reklam çerezleri: Reklam ve kişiselleştirme çerezleri kendi kişisel çıkarları için bizim reklam ve web sitesi içeriği özelleştirmek için bizim web sitelerinin ziyaretçi tarama davranışı hakkında bilgi toplamak için kullanılır.
        </li>
        <li>
            İzleme çerezleri: İzleme çerezleri ziyaretçilerin Internet tarama davranışlarını izlemek ve ziyaret ettikleri çeşitli internet sitelerinden kendi tarama davranışına veri ve bilgi toplamak için kullanılır.
        </li>
    </ul>
    <p></p>
    <h3 class="no-padding">Tarayıcı Çerez Kontrolleri</h3>
    <p>
        Tarayıcınız veya cihazınız, tarayıcı çerezlerinin yerleştirilip yerleştirilmeyeceğini seçmenizi ve çerezleri silmenizi sağlayacak bazı ek ayarlar sunabilir. Bu kontroller hakkında daha fazla bilgi almak için, tarayıcınızın ya da cihazınızın yardım materyallerini inceleyiniz. Tarayıcı çerezlerinin kullanımını devre dışı bıraktıysanız, doviz.com internet sitesinin bazı bölümleri doğru şekilde çalışmayabilir.
    </p>
</div>