
@{
    ViewData["Title"] = "Kisisel Verilerin İşlenmesi";
    ViewData["Description"] = "Kişisel verilerinizin işlenmesini siteye üye olarak kabul etmiş bulunmaktasınızdır";
    ViewData["Keywords"] = "ekonomik, takvim, dovizmix, ülkeler, beklenen, önceki, açıklanan, bayrak, önem, derecesi, support";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="padding:15px">
    <h2>Kişisel Verilerin İşlenmesi Hususunda Açık Rıza Beyanı</h2>
    <div>
        <p>
            Dovizmix.com İnternet Hizmetleri Sanayi ve Ticaret A.Ş. (Kısaca, “Dovizmix” olarak anılacaktır.)’ne ait Dovizmix.com internet sitesine üye olmam dolayısıyla, Noktacom tarafından elde edilecek kişisel verilerimin, 6698 Sayılı Kişisel Verilerin Korunması Kanunu uyarınca işlenebileceği ve ayrıca aktarılabileceği hususunda Dovizmix tarafından tarafıma bilgilendirme yapılmıştır.
        </p>
        <p>
            Bu doğrultuda, kimlik bilgilerim, cinsiyetim, yaşım, doğum tarihim, IP bilgilerim, görüntülediğim içerikler ve görüntülediğim içeriklerden oluşan kişisel verilerimin;
        </p>
        <p>
        </p><ul>
            <li>Sunulan hizmetlerin, beğenilerim, alışkanlıklarım ve ihtiyaçlarıma göre özelleştirebilmesi,</li>
            <li>Tarafıma öneriler ve kısayollar sunulabilmesi,</li>
            <li>Reklamların, ilgi alanlarıma göre kişiselleştirilmesinin sağlanması,</li>
            <li>Reklam ve hizmetlerin etki ve erişiminin ölçülebilmesi ve ölçüm sistemlerinin geliştirilebilmesi,</li>
            <li>Hesapların ve hareketlerin doğrulanmasına yardımcı olmak ve güvenliğin sağlanması,</li>
            <li>Konum bilgisine sahip olunduğunda, hizmet veriminin arttırılabilmesi,</li>
            <li>Veri tüketimi ile bağlantılı olan çevresel ağ koşullarının, zaman, lokasyon ve cihaz etkinliklerini vererek ağ kalitemin geliştirilmesine yardımcı olabilmek</li>
            <li>Dovizmix.com’un ticari ve hizmet stratejilerinin geliştirilmesi</li>
        </ul>
        <p></p>
        <p>
            amaçları doğrultusunda, Dovizmix.com adresli internet sitesine ve mobil uygulamalarına erişim sağladığım müddetçe güncellenerek, otomatik ya da otomatik olmayan yöntemlerle, internet siteleri, sosyal medya mecraları, mobil uygulamalar, çerez ve benzeri vasıtalarla sözlü, yazılı ya da elektronik olarak işlenmesine özgür irademle rıza gösterdiğimi kabul ve beyan ederim.
        </p>
    </div>
</div>
<div class="clear"></div>