<div class="box">
    <div class="box-body tickers-block">
        <ul id="webticker-1">
            @*<li><i class="cc BTC"></i> BTC <span class="text-yellow"> $11.039232</span></li>
                <li><i class="cc ETH"></i> ETH <span class="text-yellow"> $1.2792</span></li>
                <li><i class="cc GAME"></i> GAME <span class="text-yellow"> $11.039232</span></li>
                <li><i class="cc LBC"></i> LBC <span class="text-yellow"> $0.588418</span></li>
                <li><i class="cc NEO"></i> NEO <span class="text-yellow"> $161.511</span></li>
                <li><i class="cc STEEM"></i> STE <span class="text-yellow"> $0.551955</span></li>
                <li><i class="cc LTC"></i> LIT <span class="text-yellow"> $177.80</span></li>
                <li><i class="cc NOTE"></i> NOTE <span class="text-yellow"> $13.399</span></li>
                <li><i class="cc MINT"></i> MINT <span class="text-yellow"> $0.880694</span></li>
                <li><i class="cc IOTA"></i> IOT <span class="text-yellow"> $2.555</span></li>
                <li><i class="cc DASH"></i> DAS <span class="text-yellow"> $769.22</span></li>*@
        </ul>
    </div>
</div>
<!-- webticker -->
<script src="/assets/vendor_components/Web-Ticker-master/jquery.webticker.min.js"></script>

