<footer class="nb-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about">
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer-info-single">
                    <h2 class="title">PİYASALAR</h2>
                    <ul class="list-unstyled">
                        <li><a href="/doviz/tumu/usd/1" title=""><i class="fa fa-angle-double-right"></i>Döviz</a></li>
                        <li><a href="/doviz/tumu/euro/1" title=""><i class="fa fa-angle-double-right"></i>Pariteler</a></li>
                        <li><a href="/coin/tumu/btc/1" title=""><i class="fa fa-angle-double-right"></i>Kripto Para</a></li>
                        <li><a href="/doviz/tumu/eur/1" title=""><i class="fa fa-angle-double-right"></i>Borsa</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer-info-single">
                    <h2 class="title">ARAÇLAR</h2>
                    <ul class="list-unstyled">
                        <li><a href="http://localhost:51318/Ekonomik-Takvim" title=""><i class="fa fa-angle-double-right"></i>Ekonomik Takvim</a></li>
                        <li><a href="#" title=""><i class="fa fa-angle-double-right"></i>Ekonomik Sözlük</a></li>
                        <li><a href="#" title=""><i class="fa fa-angle-double-right"></i>Formasyonlar</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer-info-single">
                    <h2 class="title">DESTEK</h2>
                    <ul class="list-unstyled">
                        <li><a href="modal #modal-center" data-toggle="modal" data-target="#modal-center" target="_blank" title=""><i class="fa fa-angle-double-right"></i>İletişim</a></li>
                        <li><a href="/cerez-politikasi" title=""><i class="fa fa-angle-double-right"></i>Çerez Politikası</a></li>
                        <li><a href="/kisisel-verilerin-islenmesi" title=""><i class="fa fa-angle-double-right"></i>Kişisel Verilerin İşlenmesi</a></li>
                        <li><a href="/kisisel-verilerin-korunmasi" title=""><i class="fa fa-angle-double-right"></i>Kişisel Verilerin Korunması</a></li>
                        <li><a href="/reklam" title=""><i class="fa fa-angle-double-right"></i>Reklam</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer-info-single">
                    <h2 class="title">Sosyal Medya</h2>
                    <div class="social-media">
                        <ul class="list-unstyled">
                            <li><a href="http://www.facebook.com/" title=""><i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Facebook</a></li>
                            <li><a href="http://www.twitter.com/" title=""><i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp;&nbsp;Twitter</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h6 class="title">Yasal Uyarı</h6>
                    <font size="1">
                        Bu sitede yer alan bilgileri, Serkan Reis ve/veya veri sağlayıcıdan yazılı izin almadan kullanmak, saklamak, kopyasını üretmek, görüntülemek, düzenlemek veya dağıtmak yasaktır. Fikri mülkiyet hakkı, sitede yer alan verileri sağlayanlara ve/veya borsalara aittir. Serkan Reis reklamlarla veya reklam verenlerle etkileşiminize bağlı olarak internet sitesinde görüntülenen reklamlardan gelir elde edebilir.
                    </font>
                </div>
            </div>
        </div>
    </section>
</footer>