@{
    if (!User.Identity.IsAuthenticated)
    {

        <!-- Nav tabs -->
        <ul class="nav nav-tabs customtab" role="tablist">
            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home2" role="tab"><span class="hidden-sm-up"><i class="fa fa-home"></i></span> <span class="hidden-xs-down">Üye Girişi</span></a> </li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile2" role="tab"><span class="hidden-sm-up"><i class="fa fa-user"></i></span> <span class="hidden-xs-down">Yeni Kayıt</span></a> </li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#messages2" role="tab"><span class="hidden-sm-up"><i class="fa fa-envelope"></i></span> <span class="hidden-xs-down">Şifre Hatırlat</span></a> </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="home2" role="tabpanel">
                <div class="box box-body rounded">
                    <form action="/Account/Login" name="frmLogin" id="frmLogin" method="post">
                        <div class="form-group has-feedback">
                            <input type="text" name="UsernameOrEmail" id="UsernameOrEmail" class="form-control" autocomplete="off" placeholder="Kullanıcı Adı veya Email">
                            <span class="fa fa-envelope form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="password" name="Password" id="Password" autocomplete="off" class="form-control" placeholder="Şifre">
                            <span class="fa fa-key form-control-feedback"></span>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="checkbox text-center">
                                    <input type="checkbox" name="RememberMe" id="RememberMe" value="false">
                                    <label for="RememberMe">Beni Hatırla</label>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-12 text-center">
                                <button type="submit" class="btn btn-primary btn-block mb-15">Giriş Yap</button>
                            </div>

                        </div>
                        @Html.AntiForgeryToken()
                    </form>
                </div>
            </div>
            <div class="tab-pane" id="profile2" role="tabpanel">
                <div class="box box-body rounded">

                    <form action="/Account/Register" id="frmRegister" method="post">

                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" name="Username" id="Username" autocomplete="off" placeholder="Kullanıcı Adı">
                            <span class="fa fa-user form-control-feedback "></span>
                        </div>

                        <div class="form-group has-feedback">
                            <input type="email" class="form-control" name="RegisterEmail" id="RegisterEmail" autocomplete="off" placeholder="E-posta">
                            <span class="fa fa-envelope form-control-feedback "></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="password" class="form-control" name="ReqPassword" autocomplete="off" id="ReqPassword" placeholder="Şifre">
                            <span class="fa fa-key form-control-feedback "></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="password" class="form-control" name="ReqPasswordCheck" autocomplete="off" id="ReqPasswordCheck" placeholder="Şifre Tekrar">
                            <span class="fa fa-sign-in-alt form-control-feedback "></span>
                        </div>
                        <div class="row">
                            <div class="col-12 text-center">
                                <button type="submit" class="btn btn-primary btn-block mb-15">Kayıt Yap</button>
                                <div id="registerResult"></div>
                            </div>
                            <!-- /.col -->
                        </div>
                        @Html.AntiForgeryToken()
                    </form>
                </div>
            </div>
            <div class="tab-pane" id="messages2" role="tabpanel">
                <div class="box box-body rounded">
                    <form action="/Account/ForgotPassword" method="post" name="frmForgotPassword" autocomplete="off" id="frmForgotPassword">
                        <div class="form-group has-feedback">
                            <input type="email" name="email" id="email" class="form-control" autocomplete="off" placeholder="E-posta">
                            <span class="fa fa-envelope form-control-feedback"></span>
                        </div>
                        <div class="row">
                            <div class="col-12 text-center">
                                <button type="submit" class="btn btn-primary btn-block mb-15">Şifre Gönder</button>
                                <div class="forgotPasswordResult"></div>
                            </div>
                            <!-- /.col -->
                        </div>
                        @Html.AntiForgeryToken()
                    </form>

                </div>
            </div>
        </div>

        <script src="~/js/loginregister.js"></script>
    }
}