
    @*Eur/Usd Parite*@
    <div class="col-md-3 col-sm-2">
        <div class="widget">
            <div class="market-icon" style="background: #5a91bf; border-bottom: 3px solid #777777;">
                <i class="fa fa-eur fa-2x"></i>
                <span class="font-size-20">/</span>
                <i class="fa fa-usd	fa-2x"></i>
            </div>
            <div class="market-info">
                <div>
                    <div id="eur-usd" class="text-green market-currency" >
                        <a href="/doviz/tumu/euro/1" class="text-green">1.1235</a>
                    </div>
                    <span>
                        <i class="fa fa-arrow-up text-green"></i><span class="market-change-rate-span">% 0.17</span>
                    </span>
                </div>
                <div class="market-update-date">Güncel : 23:59:05</div>

            </div>
        </div>
    </div>

    @*Usd*@

    <div class="col-md-3 col-sm-2">
        <div class="widget">
            <div class="market-icon" style="background: #33985c; border-bottom: 3px solid #777777;">
                <i class="fa fa-usd fa-2x"></i>

            </div>
            <div class="market-info">
                <div>
                    <div id="usd" class="text-red market-currency" >
                        <a href="/doviz/tumu/usd/1" class="text-red">5.9879</a>
                    </div>
                    <span>
                        <i class="fa fa-arrow-down text-red"></i><span class="market-change-rate-span">% -3.38</span>
                    </span>
                </div>
                <div class="market-update-date">Güncel : 23:59:05</div>

            </div>
        </div>
    </div>

    @*Euro*@

    <div class="col-md-3 col-sm-2">
        <div class="widget">
            <div class="market-icon" style="background: #5a91bf; border-bottom: 3px solid #777777;">
                <i class="fa fa-eur fa-2x"></i>

            </div>
            <div class="market-info">
                <div>
                    <div id="eur" class="text-red market-currency" >
                        <a href="/doviz/tumu/eur/1" class="text-red">6.7529</a>
                    </div>
                    <span>
                        <i class="fa fa-arrow-down text-red"></i><span class="market-change-rate-span">% -3.34</span>
                    </span>
                </div>
                <div class="market-update-date">Güncel : 23:59:05</div>

            </div>
        </div>
    </div>

    @*Btc*@

    <div class="col-md-3 col-sm-2">
        <div class="widget">
            <div class="market-icon" style="background: #bf9c17; border-bottom: 3px solid #777777;">
                <i class="fa fa-bitcoin fa-2x"></i>

            </div>
            <div class="market-info">
                <div>
                    <div id="eur" class="text-green market-currency" >
                        <a href="/coin/tumu/btc/1" class="text-green"><i class="fa fa-usd"></i> 6.678</a>
                    </div>
                    <span>
                        <i class="fa fa-arrow-up text-green"></i><span class="market-change-rate-span">% 453.0</span>
                    </span>
                </div>
                <div class="market-update-date">Güncel : 23:59:05</div>

            </div>
        </div>
    </div>

@*Scroll Market*@
<div class="fixed-top " id="sabitMenuContainer" style="display:none">
    <div class="" style="" id="sabitMenu">


        <div class="fiyatlar bg-white">
            <div class="sabitDolar">
                <font class="sabitBaslik">
                    <a class="sabitLink" href="https://yorum.altin.in/tum/euro-dolar-parite">EURO/USD</a>
                </font>
                <b class="text-green fiyat" id="sabitParite">1.1308</b>
                <font id="sZPar" class="font-size-10">
                    09:35:44
                    <i class="glyphglyphicon-time"></i>
                </font>
            </div>

            <div class="sabitDolar">
                <font class="sabitBaslik">
                    <a class="sabitLink" href="https://yorum.altin.in/tum/euro-dolar-parite">EURO</a>
                </font>
                <b class="text-red fiyat" id="sabitParite">1.1308</b>
                <font id="sZPar" class="font-size-10">
                    09:35:44
                    <i class="glyphglyphicon-time"></i>
                </font>
            </div>

            <div class="sabitDolar">
                <font class="sabitBaslik">
                    <a class="sabitLink" href="https://yorum.altin.in/tum/euro-dolar-parite">USD</a>
                </font>
                <b class="text-green fiyat" id="sabitParite">1.1308</b>
                <font id="sZPar" class="font-size-10">
                    09:35:44
                    <i class="glyphglyphicon-time"></i>
                </font>
            </div>
            <div class="sabitDolar">
                <font class="sabitBaslik">
                    <a class="sabitLink" href="https://yorum.altin.in/tum/euro-dolar-parite">ONS</a>
                </font>
                <b class="text-red fiyat" id="sabitParite">1.1308</b>
                <font id="sZPar" class="font-size-10">
                    09:35:44
                    <i class="glyphglyphicon-time"></i>
                </font>
            </div>

        </div>

    </div>
</div>

<link href="~/css/topmarketinfo.css" rel="stylesheet" />